
/* CSS navbar */

.navbar {
    background-color: #8abf9c;
    margin-bottom: 3em;
}

.nav-item, .navbar-brand {
    color: white;
}

.nav-item:hover, .navbar-brand:hover {
    color: #025930;
}

/* CSS fiches */
thead tr th {
    color: #025930;
}

.table-hover thead tr th {
    border: none;
    font-size: 20px;
}

.table-hover tbody tr th {
    border: none;
}

tbody a, tbody th {
    color: #8abf9c;
}

tbody a:hover {
    color: #778c7c;
}

.btnSuppr, .btnProfil , .btnFiche {
    color: white;
    background: #025930;
}

.btnSuppr:hover, .btnProfil:hover , .btnFiche:hover {
    color: white;
    background: #778c7c;
}

.table-hover tbody tr:hover td {
    background: #bad9c5;
}

.table2 td {
    color: #8abf9c;
    font-weight: bold;
}

.table2 thead tr th {
    border: none;
}